.profile{
    width: 250px;
    /* height:180px; */
    background-color: rgb(250, 248, 248);
    margin:20px;
    padding:10px;
    border-radius: 10px 0px 10px 10px;
    z-index: 100;
    position:absolute;
    right:3.5%;
    top:4%;
   
    
}